.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
}
.header .header-title{
  font-weight: 700;
  color: rgb(68, 68, 68);
}

.page-content{
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  padding: 20px 15px;
}

.tasks-counter-box{
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
}

.dashboard-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 13px;
  background-color: white;
  color: rgb(47, 47, 66);
  border-radius: 5px;
  font-weight: bold;
}

.dashboard-card .name{
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.task-card{
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}

.task-card .task-card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 8px;
  /* border-left: 5px solid orange; */
  border-radius: 3px;
}
.task-card .task-card-content .task-card-header{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.task-card .task-card-content .task-card-header .badges{
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-card .task-card-content.border-low{
  border-left: 5px solid #6c757d;
}
.task-card .task-card-content.border-high{
  border-left: 5px solid #DC3B45;
}
.task-card .task-card-content.border-medium{
  border-left: 5px solid #FFC23D;
}

.task-card .task-card-content .title{
  font-weight: 700;
}
.task-card .task-card-content .description{
  color: rgb(149, 164, 179);
  font-size: 14px;
}

.custom-button{
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  padding: 7px 15px;
  color: rgb(255, 255, 255);
}
.custom-button.primary{
  background-color: rgb(113, 193, 131);
}

button.dropdown-toggle{
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: none;
}

button.dropdown-toggle::after{
  /* content: url('../images/dots-vertical-svgrepo-com.svg'); */
  /* height: 16px;
    width: 16px;
    font-size: 16px; */
  color: red;
}

/*///////////////////// 
  Add New Task form page
///////////////////////*/

.task-add-form{
  padding: 20px 15px;
}
.task-add-form form{
  background-color: white;
  padding: 15px;
}

